# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=12345
DB_DATABASE=apiloginnest
DB_SYNCHRONIZE=false

# App
PORT=1952
NODE_ENV=development

# JWT
JWT_SECRET=d8e769bff4b823cbc65a0d5dd8c3ba12761ade88e30ddcf951372dda1f7f6971
JWT_ACCESS_TOKEN_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

# Security (throttling)
THROTTLE_LIMIT=20
THROTTLE_TTL_MS=60000

# Email confirmation
EMAIL_CONFIRMATION_EXPIRES_IN_HOURS=24

# Email
EMAIL_USER=seu_email_aqui
EMAIL_PASS=sua_senha_aplicativo(gerar em https://myaccount.google.com/apppasswords)